<div class="bg"></div>
<header class="index-header">
    <div class="avatar">
        <img src="<%=theme.avatar%>" alt="">
    </div>
    <nav class="nav">
        <ul>
            <li>
                <i class="icon photo" title="photo">20</i>
            </li>
            <li>
                <i class="icon article" title="article">20</i>
            </li>
        </ul>
    </nav>
    <div class="desc">
        <h1>年糕小豆汤</h1>
        <p>电助！凉子，看到了吗！</p>
        <div class="details">
            <ul>
                <li>
                    <a href="mailto:ooiss@qq.com">
                        <i class="icon email">ooiss@qq.com</i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/iamcco">
                        <i class="icon github">年糕小豆汤</i>
                    </a>
                </li>
                <li>
                    <a href="http://weibo.cn/iamcco">
                        <i class="icon weibo">豆小汤</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="index-content">
    <ul class="articles">
        <li class="item">
            <div class="year">
                <span>2016</span>
            </div>
        </li>
        <li class="item">
            <div class="dialog">
                <span class="angle"></span>
                <div class="section">
                    <div class="indexs">
                        <div class="icon category">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                        <div class="icon tags">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                    </div>
                    <h2>
                        电助！凉子，看到了吗！
                    </h2>
                    <div class="article">
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                    </div>
                    <div class="bottom">
                        <a href="#">more</a>
                        <span class="icon calendar">2016/02/10</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="item">
            <div class="dialog">
                <span class="angle"></span>
                <div class="section">
                    <div class="indexs">
                        <div class="icon category">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                        <div class="icon tags">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                    </div>
                    <h2>
                        电助！凉子，看到了吗！
                    </h2>
                    <div class="article">
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                    </div>
                    <div class="bottom">
                        <a href="#">more</a>
                        <span class="icon calendar">2016/02/10</span>
                    </div>
                </div>
            </div>
        <li class="item">
            <div class="dialog">
                <span class="angle"></span>
                <div class="section">
                    <div class="indexs">
                        <div class="icon category">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                        <div class="icon tags">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                    </div>
                    <h2>
                        电助！凉子，看到了吗！
                    </h2>
                    <div class="article">
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                    </div>
                    <div class="bottom">
                        <a href="#">more</a>
                        <span class="icon calendar">2016/02/10</span>
                    </div>
                </div>
            </div>
        <li class="item">
            <div class="dialog">
                <span class="angle"></span>
                <div class="section">
                    <div class="indexs">
                        <div class="icon category">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                        <div class="icon tags">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                    </div>
                    <h2>
                        电助！凉子，看到了吗！
                    </h2>
                    <div class="article">
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                    </div>
                    <div class="bottom">
                        <a href="#">more</a>
                        <span class="icon calendar">2016/02/10</span>
                    </div>
                </div>
            </div>
        <li class="item">
            <div class="dialog">
                <span class="angle"></span>
                <div class="section">
                    <div class="indexs">
                        <div class="icon category">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                        <div class="icon tags">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                    </div>
                    <h2>
                        电助！凉子，看到了吗！
                    </h2>
                    <div class="article">
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                    </div>
                    <div class="bottom">
                        <a href="#">more</a>
                        <span class="icon calendar">2016/02/10</span>
                    </div>
                </div>
            </div>
        <li class="item">
            <div class="dialog">
                <span class="angle"></span>
                <div class="section">
                    <div class="indexs">
                        <div class="icon category">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                        <div class="icon tags">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                    </div>
                    <h2>
                        电助！凉子，看到了吗！
                    </h2>
                    <div class="article">
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                    </div>
                    <div class="bottom">
                        <a href="#">more</a>
                        <span class="icon calendar">2016/02/10</span>
                    </div>
                </div>
            </div>
        <li class="item">
            <div class="dialog">
                <span class="angle"></span>
                <div class="section">
                    <div class="indexs">
                        <div class="icon category">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                        <div class="icon tags">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                    </div>
                    <h2>
                        电助！凉子，看到了吗！
                    </h2>
                    <div class="article">
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                    </div>
                    <div class="bottom">
                        <a href="#">more</a>
                        <span class="icon calendar">2016/02/10</span>
                    </div>
                </div>
            </div>
        <li class="item">
            <div class="dialog">
                <span class="angle"></span>
                <div class="section">
                    <div class="indexs">
                        <div class="icon category">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                        <div class="icon tags">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                    </div>
                    <h2>
                        电助！凉子，看到了吗！
                    </h2>
                    <div class="article">
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                    </div>
                    <div class="bottom">
                        <a href="#">more</a>
                        <span class="icon calendar">2016/02/10</span>
                    </div>
                </div>
            </div>
        <li class="item">
            <div class="dialog">
                <span class="angle"></span>
                <div class="section">
                    <div class="indexs">
                        <div class="icon category">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                        <div class="icon tags">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                    </div>
                    <h2>
                        电助！凉子，看到了吗！
                    </h2>
                    <div class="article">
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                    </div>
                    <div class="bottom">
                        <a href="#">more</a>
                        <span class="icon calendar">2016/02/10</span>
                    </div>
                </div>
            </div>
        <li class="item">
            <div class="dialog">
                <span class="angle"></span>
                <div class="section">
                    <div class="indexs">
                        <div class="icon category">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                        <div class="icon tags">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                    </div>
                    <h2>
                        电助！凉子，看到了吗！
                    </h2>
                    <div class="article">
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                    </div>
                    <div class="bottom">
                        <a href="#">more</a>
                        <span class="icon calendar">2016/02/10</span>
                    </div>
                </div>
            </div>
        <li class="item">
            <div class="dialog">
                <span class="angle"></span>
                <div class="section">
                    <div class="indexs">
                        <div class="icon category">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                        <div class="icon tags">
                            <span>html</span>
                            <span>javascript</span>
                        </div>
                    </div>
                    <h2>
                        电助！凉子，看到了吗！
                    </h2>
                    <div class="article">
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                        Elit explicabo consectetur saepe tempore quo placeat rerum ea. Debitis amet ipsam porro accusamus eligendi amet eveniet harum mollitia quos ipsum. Aperiam officia explicabo sint nihil possimus. Ratione suscipit exercitationem.
                    </div>
                    <div class="bottom">
                        <a href="#">more</a>
                        <span class="icon calendar">2016/02/10</span>
                    </div>
                </div>
            </div>
    </ul>
</div>
