.article
    position: relative

    .markdown-body
        background-color: $color-preview-bg
        border: 0

    h1
        border-bottom: 1px solid $color-preview-content

    h2
        border-bottom: 0

    table
        tr
            border-top: 1px solid $color-preview-content
        th,td
            border: 1px solid $color-preview-content
