.comment-block
    #ds-thread
        #ds-reset

            a
                color: $color-preview-content

            .ds-meta
                border-bottom: 1px dashed #cccccc

            a.ds-like-thread-button
                border: 0
                background-image: url()
                background-color: transparent
                text-shadow: none
                box-shadow: 0 0 1px #fff
                color: $color-preview-content

                span
                    color: $color-preview-content

            .ds-gradient-bg
                background-image: url()

            #ds-hot-posts
                border: 0
                box-shadow: 0 0 1px #fff

            .ds-post-button
                height: 30px
                background-image: url()
                background-color: transparent
                border: 0
                border-left: none
                text-shadow: none
                box-shadow: 0 0 1px #fff

            .ds-post-options
                border: 0
                box-shadow: 0 0 1px #fff

            .ds-post-toolbar
                box-shadow: none

            .ds-textarea-wrapper
                background-image: url()
                background-color: transparent
                border: 0
                box-shadow: 0 0 1px #fff

            .ds-post-self
                border-top: 0

            .ds-time
                color: $color-preview-content

            .ds-comment-actions a
                color: $color-preview-content

                .ds-icon
                    color: $color-preview-content

            li.ds-tab a
                text-shadow: none

            li.ds-tab a.ds-current
                border: 0
                box-shadow: 0 0 1px #fff

