.header
    position: relative
    height:     114px

    @media only screen and (max-width: $vw-level-three)

        padding-bottom: 3rem

    @media only screen and (max-width: $vw-level-two)

        padding-bottom: 2rem

    a
        text-decoration: none
        color: $color-lblue

    .avatar
        float:      left
        padding:    7px
        box-sizing: border-box
        width:      114px
        height:     114px
        background: $color-preview-bg

        img
            width: 100px
            height: 100px
            background: #ffffff

    .desc
        padding-left: 30px
        overflow:     hidden
        background:   transparent

        @media only screen and (max-width: $vw-level-two)
            padding-left: 5px

        h1
            margin:    7px 0 16px 0
            padding:   0
            font-size: $font-2x
            color: $color-lblue

            @media only screen and (max-width: $vw-level-two)

                margin: 4px 0 12px 0
        p
            font-size: $font-h4
            color: $color-header-detail
            text-overflow: ellipsis
            white-space: nowrap
            overflow: hidden

            @media only screen and (max-width: $vw-level-two)
                font-size: $font-h6

        .details
            margin-top: 10px
            font-size: $font-s

            li
                margin-right: 10px
                display: inline-block

                @media only screen and (max-width: $vw-level-two)
                    display: none
                    margin-right: 2px

                a
                    color: $color-header-detail

            .email:before
                margin-right: 7px
                font-size: $font-s
                content: $icon-email
                color: $color-header-detail

            .github:before
                margin-right: 7px
                font-size: $font-s
                content: $icon-github
                color: $color-header-detail

            .weibo:before
                margin-right: 7px
                font-size: $font-s
                content: $icon-weibo
                color: $color-header-detail

            .email:before, .github:before, .weibo:before

                @media only screen and (max-width: $vw-level-two)
                    margin-right: 0
                    display: inline-block
                    width: $font-h2
                    height: $font-h3
                    line-height: $font-h3
                    text-align: center
                    border-radius: 4px
                    font-size: $font-h5
                    background-color: $color-preview-bg

            li.just-icon
                display: none

                @media only screen and (max-width: $vw-level-two)
                    display: inline-block


    .nav
        position: absolute
        right: 0
        margin: 10px 0 0 0
        color: $color-lblue

        li
            margin: 0 10px;
            color: $color-lblue
            font-weight: blod
            font-size: $font-h5
            display: inline-block

        .photo-count:before
            content: $icon-photo
            margin-right: 10px
            font-size: $font-h5
            color: $color-lblue

        .article-count:before
            content: $icon-article
            margin-right: 10px
            font-size: $font-h5
            color: $color-lblue

