.index-bg
    background: #60A7B9 url(/images/bg.jpg) no-repeat fixed center
    background-size: cover

    @media only screen and (max-width: $vw-level-two)
        background: #60A7B9 url(/images/bg.jpg) no-repeat fixed top center
        background-size: auto
