/*global varibles*/


/*colors*/

$color-white = #ffffff
$color-lblue = #7ebad0
$color-lgray = #dedada
$color-bg    = #282828
$color-tag = #9ec49b

/*font name*/

$font-icon = FontAwesome

/*font size*/

$font-lg  = 1.4rem
$font-lger  = 1.5rem
$font-nor = 1rem
$font-2x  = 2rem
$font-3x  = 3rem
$font-4x  = 4rem
$font-5x  = 5rem


/*icon font*/

$icon-photo   = "\f03e"
$icon-article = "\f15c"
$icon-email = "\f0e0"
$icon-github = "\f09b"
$icon-weibo = "\f18a"
$icon-tag = "\f02c"
$icon-category = "\f07b"
$icon-calendar = "\f073"
