/*global varibles*/

/*view point*/

$vw-level-one = 320px
$vw-level-two = 680px
$vw-level-three = 1000px


/*colors*/

$color-white = #ffffff
$color-lblue = #7ebad0
$color-lgray = #dedada
$color-bg    = #282828
$color-index-font = #134A6E
$color-preview-content = #082B48
$color-header-detail = #0F4465
$color-preview-bg = rgba(85, 156, 176, .9)

/*font name*/

$font-icon = FontAwesome

/*font size*/

$font-h1  = 1.6rem
$font-h2  = 1.5rem
$font-h3  = 1.4rem
$font-h4  = 1.3rem
$font-h5  = 1.2rem
$font-h6  = 1.1rem
$font-1x  = 1rem
$font-2x  = 2rem
$font-3x  = 3rem
$font-4x  = 4rem
$font-5x  = 5rem
$font-s   = .8rem
$font-ser = .9rem


/*icon font*/

$icon-photo    = "\f03e"
$icon-article  = "\f15c"
$icon-email    = "\f0e0"
$icon-github   = "\f09b"
$icon-weibo    = "\f18a"
$icon-tag      = "\f02c"
$icon-category = "\f07b"
$icon-calendar = "\f073"
