.categories-tags
    float: right
    font-size: $font-s

    .category
        margin: 10px 10px 0 0

        &:before
            position: relative
            top: 3px
            margin-right: 10px
            content: $icon-category
            font-size: $font-1x
            color: $color-preview-content

    .tags
        margin: 10px 10px 0 0

        &:before
            position: relative
            top: 3px
            margin-right: 10px
            content: $icon-tag
            font-size: $font-1x
            color: $color-preview-content

    span
        border-radius: 4px
        padding: 1px 8px
        color: $color-index-font
        background: $color-lblue
