.comment-block
    #ds-thread
        #ds-reset

            .ds-meta
                border-bottom: 1px dashed #cccccc

            a.ds-like-thread-button
                border: 1px solid #DDDDDD
                background-image: url()
                background-color: #FFFFFF

            .ds-gradient-bg
                background-image: url()

            .ds-post-button
                background-image: url()
                background-color: #FFFFFF
                border: 1px solid #cccccc
                border-left: none

            .ds-post-options
                border: 1px solid #cccccc

            .ds-textarea-wrapper
                background-image: url()
