
// https://github.com/chriskempson/tomorrow-theme
// use theme: night

$font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
$font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif

$font-size-code = 16px
$line-height = 1.6em

// width height
$article-padding = 1em
$vertical-bar-width = 6px

.clearfix {
    &::after {
        content: ""
        display: table
        clear: both
    }
}

// theme: gruvbox light
$highlight-background   = #fbf1c7
$highlight-current-line = #bdae93
$highlight-selection    = #427b58
$highlight-foreground   = #3c3836
$highlight-comment      = #928374
$highlight-red          = #cc241d
$highlight-orange       = #d65d03
$highlight-yellow       = #d79921
$highlight-green        = #98871a
$highlight-aqua         = #689d6a
$highlight-blue         = #458588
$highlight-purple       = #b16286

.code-block {
    background: $highlight-background
    margin: 2ex 0
    padding: 1rem 1em
    border: 0
    border-radius: 2px
    overflow: auto
    color: $highlight-foreground
    font-size: $font-size-code
    line-height: $line-height
}

.line-numbers {
    color: #666
    font-size: $font-size-code
}

.article-markdown {
    pre, code {
        font-family: $font-mono
    }

    code {
        text-shadow: 0 1px #fff
        padding: 0 0.3rem
    }

    pre {
        @extend .code-block
        code {
            background: none
            text-shadow: none
            padding: 0
        }
    }

    .highlight {
        @extend .code-block

        pre {
            border: none
            margin: 0
            padding: 0
        }
        table {
            border: none
            margin: 0
            width: auto
        }
        td {
            border: none
            padding: 0
        }
        figcaption {
            @extend .clearfix
            font-size: 0.85em
            color: $highlight-comment
            line-height: 1em
            margin-bottom: 1em
        }
        a {
            color: $highlight-aqua !important
            text-decoration: none
            float: right
            &:hover {
                color: $highlight-blue !important

            }
        }
        .gutter pre {
            @extend .line-numbers
            text-align: right
            padding-right: 20px
        }
        .line {
            height: $line-height
        }
    }

    .gist-not-used {
        //margin: 0 $article-padding * -1
        margin: 0
        background: $highlight-background
        padding: 1em $article-padding 1em 2px
        .gist-file {
            border: none
            font-family: $font-mono
            margin: 0
            .gist-data {
                background: none
                border: none
                .line-numbers {
                    @extend .line-numbers
                    background: none
                    border: none
                    padding: 0 20px 0 0
                }
                .line-data {
                    padding: 0 !important
                }
            }
            .highlight {
                margin: 0
                padding: 0
                border: none
            }
            .gist-meta {
                background: $highlight-background
                color: $highlight-comment
                font: 0.85em $font-sans
                text-shadow: 0 0
                padding: 0
                margin-top: 1em
                margin-left: $article-padding
                //
            }
        }
    }

}


pre {
    .comment,
    .title {
        color: $highlight-comment
    }
    .variable,
    .attribute,
    .tag,
    .regexp,
    .ruby .constant,
    .xml .tag .title,
    .xml .pi,
    .xml .doctype,
    .html .doctype,
    .css .id,
    .css .class,
    .css .pseudo {
        color: $highlight-red
    }
    .number,
    .preprocessor,
    .built_in,
    .literal,
    .params,
    .constant {
        color: $highlight-purple
    }
    .class,
    .ruby .class .title,
    .css .rules .attribute {
        color: $highlight-green
    }
    .string,
    .value,
    .inheritance,
    .header,
    .ruby .symbol,
    .xml .cdata {
        color: $highlight-green
    }
    .css .hexcolor{
        color: $highlight-aqua
    }
    .function,
    .python .decorator,
    .python .title,
    .ruby .function .title,
    .ruby .title .keyword,
    .perl .sub,
    .javascript .title,
    .coffeescript .title {
        color: $highlight-blue
    }
}
