@import "nib"
@import "_varibles"
@import "markdown"
@import "highlight"
@import "animation"

@font-face
  font-family:'FontAwesome'
  src:url("/fonts/fontawesome-webfont.eot")
  src:url("/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/fontawesome-webfont.woff") format("woff"),url("/fonts/fontawesome-webfont.ttf") format("truetype"),url("/fonts/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"),url("/fonts/fontawesome-webfont.svg#FontAwesomeRegular") format("svg")
  font-weight:normal
  font-style:normal


global-reset()

html
    font-size: 16px
body
    background: $color-bg url(/images/nichijou.jpg) no-repeat fixed center
    background-size: cover

.bg
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.4)
    z-index: -1

.icon
    display: inline-block
    font: normal normal normal 14px/1 $font-icon
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.index-header
    margin:     60px auto 0 auto
    width:      1000px
    height:     144px
    /*border: 1px solid yellow*/

    a
        text-decoration: none
        color: $color-lblue

    .avatar
        float:      left
        padding:    7px
        box-sizing: border-box
        width:      114px
        height:     144px
        background: $color-white

        &:hover
            .author
                animation: showName 1s forwards

        img
            width: 100px
            height: 100px
            background: #ffffff

        .author
            margin-top: 8px
            font-size: $font-big
            line-height: font-big
            color: transparent

    .desc
        padding-left: 30px
        overflow:     hidden
        background:   transparent
        /*border: 1px solid blue*/

        h1
            margin:    7px 0 20px 0
            padding:   0
            font-size: $font-2x
            color: $color-lblue
        p
            font-size: $font-lg
            color: $color-lgray

        .details
            margin-top: 12px

            li
                margin-right: 10px
                display: inline-block

                a
                    color: $color-lgray

            .email:before
                margin-right: 7px
                font-size: $font-nor
                content: $icon-email
                color: $color-white

            .github:before
                margin-right: 7px
                font-size: $font-nor
                content: $icon-github
                color: $color-white

            .weibo:before
                margin-right: 7px
                font-size: $font-nor
                content: $icon-weibo
                color: $color-white


    .nav
        margin: 10px 0 0 0
        color: $color-lgray
        float: right

        li
            margin: 0 10px;
            color: $color-lblue
            font-weight: blod
            font-size: $font-lg
            display: inline-block

        .photo:before
            content: $icon-photo
            margin-right: 10px
            font-size: $font-lg
            color: $color-white

        .article:before
            content: $icon-article
            margin-right: 10px
            font-size: $font-lg
            color: $color-white

.index-content
    width: 1000px
    margin: 0 auto

    .articles
        padding-left: 110px

        .item
            padding-left: 30px
            border-left: 4px solid $color-lgray

            &:hover
                .left-angle:before
                    animation: getBlue 1s forwards

            .year
                position: relative
                height: 100px

                .panel
                    display: inline-block
                    position: relative
                    box-sizing: border-box
                    width: 100px
                    height: 26px
                    line-height: 26px
                    left: -130px
                    top: 34px
                    padding: 0 10px
                    border-radius: 10px 2px 2px 10px
                    font-size: $font-lg
                    color: $color-bg
                    background: $color-white

.post-line
    margin-left: 110px
    height: 100px
    border-left: 4px solid $color-lgray

.item-dialog
    position: relative
    padding-bottom: 40px

    .left-angle
        position: absolute

        &:before
            display: inline-block
            position: absolute
            left: -37px
            top: 18px
            width: 0
            height: 0
            border: 5px solid $color-white
            border-radius: 6px
            content: ""
        &:after
            display: inline-block
            position: absolute
            left: -24px
            top: 11px
            width: 0
            height: 0
            border-style: solid
            border-width: 12px
            border-left-color: transparent
            border-top-color: transparent
            border-bottom-color: transparent
            border-right-color: $color-lblue
            content: ""

    .top-angle
        position: absolute

        &:after
            display: inline-block
            position: absolute
            left: 100px
            top: -24px
            width: 0
            height: 0
            border-style: solid
            border-width: 12px
            border-left-color: transparent
            border-top-color: transparent
            border-bottom-color: $color-lblue
            border-right-color: transparent
            content: ""

    .section
        border-radius: 4px 6px 0 0
        background: $color-white

    .index-title
        position: relative
        padding-left: 20px
        width: 380px
        height: 46px
        line-height: 46px
        background: $color-lblue
        border-radius: 4px 0 0 0
        font-size: $font-lger
        color: $color-white

        &:before
            position: absolute
            left: 400px
            display: inline-block
            width: 0
            height: 0
            border-width: 12px 4px
            border-style: solid
            border-left-color: $color-lblue
            border-top-color: $color-lblue
            border-right-color: transparent
            border-bottom-color: transparent
            content: ""

        &:after
            position: absolute
            left: 400px
            top: 22px
            display: inline-block
            width: 0
            height: 0
            border-width: 12px 4px
            border-style: solid
            border-left-color: $color-lblue
            border-top-color: transparent
            border-right-color: transparent
            border-bottom-color: $color-lblue
            content: ""

        a
            text-decoration: none
            color: $color-white

    .indexs
        float: right

        .category
            margin: 10px 10px 0 0

            &:before
                position: relative
                top: 3px
                margin-right: 10px
                content: $icon-category
                font-size: $font-lg

        .tags
            margin: 10px 10px 0 0

            &:before
                position: relative
                top: 3px
                margin-right: 10px
                content: $icon-tag
                font-size: $font-lg

        span
            border-radius: 4px
            padding: 1px 8px
            background: $color-tag

    .article
        padding: 10px

    .bottom
        height: 30px
        line-height: 30px

        a
            margin-right: 10px
            float: right
            text-decoration: none
            font-size: $font-lg
            color: $color-bg

            &:after
                font-size: $font-lg
                margin-left: 8px
                content: "\f101"

        .calendar:before
            margin: 0 10px
            content: $icon-calendar
            color: $color-bg

.comment
    margin: 0 auto
    width: 1000px
    background: $color-white
