<article class="article">

    <!--m:markdown body-->
    <div class="markdown-body">
        <h1 id="<%=post.title%>"><%=post.title%></h1>
        <%-post.content%>
    </div>
    <!--m:markdown body-->

</article>
